<div id="homeView" layout="vertical" layout-fill>

  <md-content>
    
    <section class="jumbotron">
      <h1>'Allo, 'Allo!</h1>
      <p class="lead">
        Project app seed !
      </p>
      <md-button class="md-raised animated infinite" ng-class="home.classAnimation" ng-click="home.showToastr()">Splendid Toastr</md-button>
    </section>

    <!-- <div class="techs" layout-align="center">
      <md-card ng-repeat="awesomeThing in home.awesomeThings | orderBy:'rank'">
        <md-card-content>
          <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
          <h3 class="md-title">{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
        </md-card-content>
        <div class="md-action-buttons">
          <md-button ng-href="{{ awesomeThing.url }}">Website</md-button>
        </div>
      </md-card>
    </div> -->
  </md-content>

</div>
